{% extends 'scaffold.html' %}
{% from 'macros.html' import show_flashed_messages %}

{% block content %}
    <div id="loginContainerWrapper">
        <div class="basicContainer basicLoginContainer">
            <h1>Login</h1>
            {{ show_flashed_messages() }}
            <form action="/login" method="post" autocomplete="on">
                <label for="username" class="form-label">Nutzername</label>
                <input type="text" name="username" id="username" placeholder="Nutzername" class="form-control">
                <label for="password" class="form-label">Passwort</label>
                <input type="password" name="password" id="password" placeholder="Passwort" class="form-control">
                <div class="form-check">
                    <label for="remember_me" class="form-check-label form-label">Angemeldet bleiben</label>
                    <input type="checkbox" name="remember_me" id="remember_me" class="form-check-input">
                </div>
                <div id="loginFormButtonBar">
                    <button type="submit" class="btn btn-primary">Anmelden</button>
                    <a href="{{ url_for('auth.signup') }}"><button type="button" class="btn btn-secondary">Registrieren</button></a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}