{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block basecontent %}
    <div class="basicContainer">
        <h1>Profil Bearbeiten</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/profile" method="POST" class="needs-validation" novalidate>
            {{ form.csrf_token }}
            <div class="row">
                <div class="col">
                    {{ render_field(form.username, placeholder="Nutzername") }}
                </div>

                <div class="col">
                    {{ render_field(form.password, placeholder="Neues Passwort") }}
                </div>

                <div class="col">
                    {{ render_field(form.password_repeat, placeholder="Neues Passwort wiederholen") }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ render_field(form.email, placeholder="E-Mail") }}
                </div>

                <div class="col">
                    {{ render_field(form.firstname, placeholder="Vorname") }}
                </div>

                <div class="col">
                    {{ render_field(form.lastname, placeholder="Nachname") }}
                </div>

                <div class="col">
                    {{ render_field(form.phone, placeholder="Telefonnummer") }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ render_field(form.courseofstudy, placeholder="Studiengang") }}
                </div>

                <div class="col">
                    {{ render_field(form.semester, placeholder="Semester") }}
                </div>

                <div class="col">
                    {{ render_field(form.studentnumber, placeholder="Matrikelnummer") }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ render_field(form.street, placeholder="Straße") }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ render_field(form.postcode, placeholder="Postleitzahl") }}
                </div>

                <div class="col">
                    {{ render_field(form.city, placeholder="Stadt") }}
                </div>

                <div class="col">
                    {{ render_field(form.country, placeholder="Land") }}
                </div>
            </div>

            <div class="row">
                <div class="col-2 d-flex align-items-center">
                    {{ render_field(form.can_be_invited) }}
                </div>
            </div>

            <div id="loginFormButtonBar">
                <button type="submit" class="btn btn-primary">Bestätigen</button>
                <a href="{{ url_for('main.profile') }}">
                    <button type="button" class="btn btn-secondary">Verwerfen</button>
                </a>
            </div>
        </form>
    </div>
{% endblock %}