{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'macros.html' import show_flashed_messages %}

{% block basecontent %}
    <div class="basicContainer">
        <h1>Profil Bearbeiten</h1>
        {{ show_flashed_messages() }}
        <form action="/profile" method="POST" class="needs-validation" novalidate>
            {{ form.csrf_token }}

            <div class="form-category-block mb-3">
                <div class="row d-flex">
                    <div class="col-md-4">
                        {{ render_field(form.username, placeholder="Nutzername") }}
                    </div>

                    <div class="col-md-4">
                        {{ render_field(form.password, placeholder="Neues Passwort") }}
                    </div>

                    <div class="col-md-4">
                        {{ render_field(form.password_repeat, placeholder="Neues Passwort wiederholen") }}
                    </div>
                </div>
            </div>

            <div class="form-category-block mb-3">
                <div class="row">
                    <div class="col-md-3">
                        {{ render_field(form.email, placeholder="E-Mail") }}
                    </div>

                    <div class="col-md-3">
                        {{ render_field(form.firstname, placeholder="Vorname") }}
                    </div>

                    <div class="col-md-3">
                        {{ render_field(form.lastname, placeholder="Nachname") }}
                    </div>

                    <div class="col-md-3">
                        {{ render_field(form.phone, placeholder="Telefonnummer") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ render_field(form.courseofstudy, placeholder="Studiengang") }}
                    </div>

                    <div class="col-md-4">
                        {{ render_field(form.semester, placeholder="Semester") }}
                    </div>

                    <div class="col-md-4">
                        {{ render_field(form.studentnumber, placeholder="Matrikelnummer") }}
                    </div>
                </div>
            </div>

            <div class="form-category-block mb-3">
                <div class="row">
                    <div class="col">
                        {{ render_field(form.street, placeholder="Straße") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        {{ render_field(form.postcode, placeholder="Postleitzahl") }}
                    </div>

                    <div class="col-md-4">
                        {{ render_field(form.city, placeholder="Stadt") }}
                    </div>

                    <div class="col-md-4">
                        {{ render_field(form.country, placeholder="Land") }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        {{ render_field(form.latitude, placeholder="Manuelle Korrektur falls Adressauflösung fehlschlägt") }}
                    </div>

                    <div class="col-md-5">
                        {{ render_field(form.longitude, placeholder="Manuelle Korrektur falls Adressauflösung fehlschlägt") }}
                    </div>

                    <div class="col-md-2 d-flex">
                        <button class="btn btn-primary align-self-end mb-3" type="button" data-bs-toggle="collapse" href="#collapseMap">Zeige auf Karte</button>
                    </div>
                </div>

                <div class="row collapse mapContainer" id="collapseMap"></div>
            </div>

            <div class="row">
                <div class="col-2">
                    {{ render_field(form.can_be_invited) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ render_field(form.about_me, placeholder="Schreibe etwas über dich") }}
                </div>
            </div>

            <div id="loginFormButtonBar">
                <button type="submit" class="btn btn-primary">Bestätigen</button>
                <button type="reset" class="btn btn-secondary">Verwerfen</button>
            </div>
        </form>
    </div>
    <footer>
        Geocoding powered by <a target="_blank" href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>.
    </footer>
    <script src="{{ url_for('static', filename='js/profileFunctions.js') }}"></script>
{% endblock %}